.row {
    border-radius: 7px;
    margin-bottom: 2px;
    font-weight: 600;
}

nav {
    margin-bottom: 20px;
}


.grid-row:nth-of-type(odd) {
    background-color: #a2a282;
}

.grid-row:nth-of-type(even) {
    background-color: #e0e0ad;
}

.grid-header {
    font-size: 25px;
    font-weight: 700;
}

.box-grid {
    box-shadow: 5px 5px 15px 5px #000000;
    padding: 15px;
}
