<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JobPosting App! {% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'job list' %}">View Jobs</a>
    {% if user.is_authenticated %}
        <a href="{% url 'job create' %}">Post a new job</a>
        <a href="{% url 'sign out' %}">Sign-out</a>
        <a href="{% url 'profile details' %}">Profile</a>
    {% else %}
        <a href="{% url 'sign up' %}">Sign-up</a>
        <a href="{% url 'sign in' %}">Sign-in</a>
    {% endif %}
</nav>
{% block content %}
{% endblock %}
</body>
</html>