<div class="container">
    {% if object_list %}
        <div class="row grid-header">
            <div class="col-md-4">
                Position
            </div>
            <div class="col-md-2">
                City
            </div>
            <div class="col-md-3">Posted on</div>
        </div>
        {% for job in object_list %}
            <div class="row">
                <div class="col-md-4">
                    {{ job.title }}
                </div>
                <div class="col-md-2">
                    {{ job.city }}
                </div>
                <div class="col-md-3">
                    {{ job.posted_on }}
                </div>
                <div class="col">
                    <a class="btn btn-secondary" href="{% url 'job details' job.id %}">Details</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No job postings.</p>
    {% endif %}
</div>